*{
    box-sizing: border-box;
    
}

.wrapper{
  margin-left: 2%;
  margin-right: 2%;
    margin-top: -50px;
    padding-top: -20px;
    clear: left;
    font-family: 'Roboto', sans-serif;
}

.title{
  background-color: #222;
  width:100%;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
}

.title h1, .title h2{
    color: #ccc;
    margin-left: 15%;
    margin-right: 15%;
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: 14pt;
    line-height: 16pt;
    margin: 0;
}

.stories h3{
    font-size: 35px;
    line-height: 37px;
    font-weight: 900;
    margin-top: 0px;
    text-align: center;
    color: #ccc;
}

.title h1{
    font-weight: 900;
    font-size: 20pt;
    line-height:21pt;
}

.portals{
    background-color: #222;
    width: 100%;
    height: 70px;
    margin-left: -10px;
    margin-right: -10px;
    border: 5px solid red;
}

div.portal{
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 8pt;
    border:.25px solid #ccc;
}

img.image{
    width: 80%;
    margin-right: 10%;
    padding: 5%;
}

story{
    position: absolute;
    overflow: hidden;
}

li{
    width: 80%;
}

div.overhang{
    position: relative;
    margin: 0;
    width: 60px;
    height: 20px;
    left: -10px;
    top: 5px;
    font-size: 10pt;
}

span.caption{
    float: clear;
}

.stories{
 margin-top: 0;
}

@media(min-width: 340px){
    .wrapper{
        margin-left: 12%;
        margin-right: 12%;
        clear: left;
        font-family: 'Roboto', sans-serif;
    }
    
}


@media(min-width: 760px){
  
  .wrapper{
    margin-left: 20%;
    margin-right: 20%;
    max-width: 800px;
  }
    
    
    .title h1, .title h2{ 
        padding-left: 20%;
        padding-right: 20%;
        font-family: 'Roboto', sans-serif; 
        font-weight: 400;
        font-size: 24pt;
        line-height: 28pt;
        margin: 0;
    }

    .title h1{
        font-weight: 900;
        font-size: 36pt;
        line-height:38pt;
    }
    
    .stories h3{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 80px;
    line-height: 82px;
    }

}

